<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <nav class="navbar navbar-default" th:replace="base::navi"></nav>
        <div class="container">
            <h3>Only Visible for Recruiters</h3>
            <p><h5>Another Big conflict
            This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
            This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</h5></p>
            <p><a class="btn btn-primary btn-lg" href="vacancy" role="button">Post new Job &raquo;</a></p>
        </div>
    </div>
</div>
</body>
</html>